@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
  --color-primary-red: #ff0000;
  --color-blood-red: #450a0a;

  --color-border: #450a0a;
  --color-input: #450a0a;
  --color-ring: #ff0000;

  --radius-lg: 0px;
  --radius-md: 0px;
  --radius-sm: 0px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary-red selection:text-white font-mono;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/[0.02] border border-red-500/20 backdrop-blur-md;
  }
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-red-500 to-red-800;
  }
}
